.btn{
    background-color: brown;
}
section{
    background-color: aqua;
}
.dog{
    background-color: blueviolet;
}
h1{
    font-size: 80px;
}
h2{
    font-size: 45px;
}
h2{
    background-color: red;
}
body{
    background-color: yellow;
}
.org{
    background-color: orangered;
}
.tan{
    background-color: tan;
}
.bred{
    background-color: violet;
}